includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    # TODO Tell PHPStan what is inside arrays! array<int, string>  or  array{name:string, id:int}
    checkMissingIterableValueType: false
    autoload_files:
        - vendor/paulthewalton/acf-pro-stubs/acf-pro-stubs.php
        - tests/phpstan/bootstrap.php
        - init.php
    paths:
        - init.php
        - src/
    ignoreErrors:
        # TODO Specify all return typehints
        - '# has no return typehint specified\.$#'
