
<h3>{{ __('Export Settings') }}</h3>
<input class="button button-primary" type="submit" value="{{ __('export Settings','towa-gdpr-plugin')}}" name="export_settings"/>
<h3>{{ __('Import Settings') }}</h3>
<input type="file" value="{{ __('import Settings...','towa-gdpr-plugin')}}" name="import_file"/>
