
<label style="display: block; margin-bottom:20px; font-style:italic">{{__('Clicking this Button will show the notice again to all Users who have already consented. If you make major changes like adding new trackers or removing old ones, you will have to click this button.')}}</label>
<input class="button button-primary" type="submit" value="{{ __('update & force new consent','towa-gdpr-plugin')}}" name="save_and_hash"/>
