/*------------------- colors ----------------*/
$color-overlay-background:rgba(#000,0.3);
$color-white: #FFF;
$color-active: green;
$color-inactive: rgb(134, 134, 134);
$color-selected-group: rgb(240, 240, 240);
$color-light-background: rgb(248, 248, 248);
$color-ui-elements: rgba(127,127,127,1);
/*-------------------- Grid -----------------*/
$grid-columns:12;
